<div class="text-center mt-3 p-2">
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>ip</strong>: {{ data.ip }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>country_code</strong>: {{ data.country_code }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>country_name</strong>: {{ data.country_name }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>region_code</strong>: {{ data.region_code }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>region_name</strong>: {{ data.region_name }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>city</strong>: {{ data.city }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>zip_code</strong>: {{ data.zip_code }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>time_zone</strong>: {{ data.time_zone }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>latitude</strong>: {{ data.latitude }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>longitude</strong>: {{ data.longitude }}</div>
  <br />
  <div class="border border-info d-inline-block rounded p-2 m-2"><strong>metro_code</strong>: {{ data.metro_code }}</div>
  <br />
</div>
